# See https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/
next-env.d.ts

# production
/build
dist
*.tsbuildinfo

# testing
/coverage

# env
.env*

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# System Files
.DS_Store
Thumbs.db

# local dev
/.dev-logs/

.env
.env.example
.vercel
